{% extends '_base.html' %}
{% load static %}

{% block title %}OnlyWorlds | Home{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-start min-h-screen w-full bg-black text-gray-200">
    <div class="text-center mt-8 lg:mt-16">
        <h1 class="text-5xl font-bold text-[#37C1F0] mb-2">OnlyWorlds</h1>
        <p class="text-lg px-4 md:px-6 lg:px-24 py-2">
            is a framework for an open source world building data format<br>
            To allow distribution of worlds across tools, games, apps, web and teams<br><br><br><br>

           In closed alpha now<br>
           Leave a message for questions or interest
        </p>
    </div>
    <!-- Embed the form directly into the page content -->
    <div class="bg-black rounded-lg shadow-2xl overflow-hidden w-full max-w-lg m-4 p-6">
        <form action="{% url 'submit_contact_form' %}" method="post" class="space-y-6">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}" class="block text-[#f57ed7] text-lg font-large">{{ field.label }}</label>
                    {% if field.name == 'message' %}
                        <textarea name="{{ field.name }}" id="{{ field.id_for_label }}"
                                  class="mt-1 block h-20 w-full py-2 px-2 rounded-md bg-gray-700 border-transparent focus:border-gray-500 focus:bg-gray-600 focus:ring-gray-500 text-white shadow-sm sm:text-sm"
                                  >{{ field.value|default_if_none:'' }}</textarea>
                    {% else %}
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
                               id="{{ field.id_for_label }}"
                               class="mt-1 block w-full h-10 py-0 px-2 rounded-md bg-gray-700 border-transparent focus:border-gray-500 focus:bg-gray-600 focus:ring-gray-500 text-white shadow-sm sm:text-sm"
                               value="{{ field.value|default_if_none:'' }}">
                    {% endif %}
                    {% if field.help_text %}
                        <p class="mt-2 text-sm text-gray-400">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit"
                    class="w-full flex justify-center py-2 px-4 border border-transparent shadow-sm text-lg font-medium rounded-md text-white bg-[#37C1F0] hover:bg-[#0a8cbf] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-700">
                Send
            </button>
        </form>
    </div>
</div>
{% endblock %}
