<!-- content_framework.html -->
{#<div class="text-center">#}
<div>
        <h2 class="text-2xl font-bold mb-4">Structural Goals</h2>
              <p class="mb-4">1. Provide a data structure blueprint for capturing worlds and their content </p>
              <p class="mb-4">2. Allow building of any fictional / history worlds with blueprint  </p>
              <p class="mb-4">3. Make world files transferable across tools, games, devices and web </p>

   <h4 class="text-2xl font-bold mb-4">Intent</h4>
          <p class="mb-4">  1. Core data structures are open source, free to use, and community-driven/p>
          <p class="mb-4">  2. Users keep full ownership and control over their world data and visibility</p>
          <p class="mb-4">  3. Allow any developers and artists to build into the framework, on whatever pricing model</p>
          <p class="mb-4">  4. Promote collaborative development on the framework, its tools, its worlds</p>
         <p class="mb-4">  5. Core OnlyWorlds applications are always free:  1 mobile, 1 desktop, 1 web</p>

</div>
