{% load static %}

<div class="custom-font mb-2">
    <p>9 April 2024</p>
    <p>OW version: 0.15.10</p>
    <br>
    <p>This is the first release of the <b><a href="#" id="link-to-framework" class="text-blue-500 hover:underline">OnlyWorlds Framework</a></b></p>
    <p>Mobile app linked below, more in <b><a href="#" id="link-to-apps" class="text-blue-500 hover:underline">Applications</a></b></p>
    <p><b><a href="#" id="link-to-worlds" class="text-blue-500 hover:underline">Worlds</a></b> can be stored and retrieved using this site</p>


  <br>
  <br>
    <div class="flex flex-row items-center gap-4 mt-4">
        <a href="https://testflight.apple.com/join/bXvUExCL" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/icon-apple.png' %}" alt="iOS Testflight" style="height: 32px; width: auto;">
        </a>
        <a href="https://play.google.com/apps/internaltest/4700705784602434522" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/icon-google.png' %}" alt="Android APK" style="height: 48px; width: auto;">
        </a>
    </div>
      <br>
  <br>
           <div class="mt-4">
        <a href="https://discord.gg/twCjqvVBwb" class="inline-block">
            <img src="{% static 'img/discordlogo.png' %}" alt="Join the Discord" class="w-5">
        </a>
    </div>

</div>
