<!-- content_apps.html -->
{% load static %}

<style>

    .no-background {
        background: none !important; /* No background */
        border: none !important; /* No border */
        box-shadow: none !important; /* No box shadow */
    }

    /* Specific to accordion for visual hierarchy */
    .accordion-button {
        background: transparent !important; /* Transparency for button */
        color: #ADD8E6 !important; /* Adjust color as necessary */
    }

    .accordion-content {
        padding: 0; /* Remove padding if needed */
    }

    .accordion-list-item {
        list-style-type: disc; /* or 'none' if you prefer no bullets */
        margin-left: 20px; /* Adjust indentation */
    }
</style>


<div class="custom-font mb-2" id="accordion-collapsee11" data-accordion="collapsee">
    <button type="button"
            class="text-blue-500 text-2xl font-bold rounded-lg px-1 py-3 text-left inline-flex items-center w-full justify-between"
            data-accordion-target="#accordion-collapsee-body-11" aria-expanded="false"
            aria-controls="accordion-collapsee-body-11">
        Mobile Companion
        <svg data-accordion-icon class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </button>
    <div id="accordion-collapsee-body-11" class="hidden no-background" aria-labelledby="accordion-collapsee-heading-11">
        {% comment %}     <p class="custom-font mb-2">Flutter project developed in 2023 and 2024 as a mobile world creation
            interface that helps introduce the framework with some gamification and novel features</p>{% endcomment %}
        <p class="custom-font mb-2">Lets you define a world, create and configure elements in it, follow a progression
            system with some guides and rewards, and chat with AI agents that are specialized for world build
            assistance.</p>
        <a href="{% static 'img/companion.jpeg' %}" target="_blank" style="width: 80px;" class="inline-block mb-3">
            <img src="{% static 'img/companion.jpeg' %}" alt="Companion Preview" style="width: 350px"
                 class="cursor-pointer">
        </a>
  <p class="custom-font">Installation:</p>
        <ul class="custom-font accordion-content accordion-list-item">
            <li>iOs app is in TestFlight, a staging environment that you can install from the app
            store first by following the link</li>

            <li>Android Google Play is in closed testing. Gain access by joining <b><a
            href="https://groups.google.com/g/ow-alpha-test"
            class="text-blue-500 hover:underline">this Google Group</a></b>, and then open the link from mobile</li>
    <li>Android manual install: Download the APK file, transfer to your phone (e.g. to Downloads folder), open through a file
            viewer, tap the APK file to install</li>
        </ul>
<br>
        <p class="custom-font">Known bugs and limitations:</p>
        <ul class="custom-font accordion-content accordion-list-item">
            <li>Number fields only hold positive integer values at this time</li>
            <li>Time settings are limited, and no such settings exist for weight, height, other units</li>
            <li>Golden fields do not properly split linked elements</li>
            <li>Elements with duplicate names cause issues when being linked</li>
            <li>This being my first Flutter project and mobile app</li>
        </ul>
    </div>
</div>

<div class="custom-font mb-2" id="accordion-collapsee13" data-accordion="collapsee">
    <button type="button"
            class="text-blue-500 text-2xl font-bold rounded-lg px-1 py-3 text-left inline-flex items-center w-full justify-between"
            data-accordion-target="#accordion-collapsee-body-13" aria-expanded="false"
            aria-controls="accordion-collapsee-body-13">
        Explorer
        <svg data-accordion-icon class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </button>
    <div id="accordion-collapsee-body-13" class="hidden no-background" aria-labelledby="accordion-collapsee-heading-13">

        <p class="custom-font mt-0 mb-1">View and edit elements through a <b><a href="{% url 'explorer' %}"
                                                                                class="inline-block text-m font-bold text-blue-500 hover:underline"
                                                                                target="_blank"
                                                                                rel="noopener noreferrer">Web
            Interface</a></b>.
        </p>
        <p class="custom-font mb-1">Or use this <b> <a href="TODO"
                                                       class="inline-block text-m font-bold text-blue-500 hover:underline"
                                                       target="_blank"
                                                       rel="noopener noreferrer">Desktop executable</a> </b> (windows).

        <p class="custom-font mb-1">Build and export your world in the mobile app, then import in Explorer.</p>


    </div>
</div>
<div class="custom-font mb-2" id="accordion-collapsee12" data-accordion="collapsee">
    <button type="button"
            class="text-blue-500 text-2xl font-bold rounded-lg px-1 py-3 text-left inline-flex items-center w-full justify-between"
            data-accordion-target="#accordion-collapsee-body-12" aria-expanded="false"
            aria-controls="accordion-collapsee-body-12">
        Mapper
        <svg data-accordion-icon class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </button>

    <div id="accordion-collapsee-body-12" class="hidden no-background" aria-labelledby="accordion-collapsee-heading-12">
        <p class="custom-font mb-1">Unity project developed in 2023 as an overall world engine, now being reworked to
            support current framework. Requires a Unity install, but no Unity knowledge. </p>

        <p class="custom-font mt-2 mb-2">Files and setup guide on <b><a href="https://github.com/tmoosting/OnlyWorldsEngine"
                                                class="inline-block text-m font-bold text-blue-500 hover:underline"
                                                target="_blank"
                                                rel="noopener noreferrer">GitHub</a></b>.

<br>
<br>
        <a href="{% static 'img/mapper.png' %}" target="_blank" class="inline-block mb-3">
            <img src="{% static 'img/mapper.png' %}" alt="Mapper Preview" class="max-w-xs cursor-pointer">
        </a>
        <p class="custom-font">Four sections present a range of world controls:</p>
        <ul class="custom-font accordion-content accordion-list-item">
            <li>Mapper - For map management, element placement</li>
            <li>Finder - For browsing worlds</li>
            <li>Editor - For viewing, editing elements</li>
            <li>Timeliner - Using a graph node system</li>
        </ul>
        <br>
        <p class="custom-font">Includes map functionality: </p>
        <ul class="custom-font accordion-content accordion-list-item">
            <li>Maps can be added, saved and configured</li>
            <li>Pins can be placed, moved, managed, and linked to elements</li>
            <li>Map data is integrated to the world and exportable</li>
        </ul>

    {% comment %}    <p class="custom-font">Status per April 2024:</p>
        <ul class="custom-font accordion-content accordion-list-item">
            <li>Mapper - Functional</li>
            <li>Finder - Functional</li>
            <li>Editor - Limited to core fields</li>
            <li>Timeliner - Just started development</li>
        </ul>{% endcomment %}


    </div>
</div>

<div class="custom-font mb-2" id="accordion-collapsee14" data-accordion="collapsee">
    <button type="button"
            class="text-blue-500 text-2xl font-bold rounded-lg px-1 py-3 text-left inline-flex items-center w-full justify-between"
            data-accordion-target="#accordion-collapsee-body-14" aria-expanded="false"
            aria-controls="accordion-collapsee-body-14">
        Applications Roadmap
        <svg data-accordion-icon class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </button>
    <div id="accordion-collapsee-body-14" class="hidden no-background" aria-labelledby="accordion-collapsee-heading-14">

        <ul class="accordion-content accordion-list-item">
            <li>Mapping tools and a robust mapping data system (with Mapper as an early prototype)</li>
            <li>Display tools for world viewing, article and page customization, network graphs</li>
            <li>A smart text editor, for rapid conversion of existing work (The mobile app's AI Parser mode was conceived as an
                alternative approach)
            </li>
            <li>Integrate with interested existing tools, create an Obsidian plugin</li>

        </ul>


    </div>
</div>


{##}
{#<div class="custom-font mb-4" id="accordion-collapsee5" data-accordion="collapsee">#}
{#        <button type="button" class="text-blue-500 text-2xl font-bold rounded-lg px-1 py-3 text-left inline-flex items-center w-full justify-between" data-accordion-target="#accordion-collapsee-body-5" aria-expanded="false" aria-controls="accordion-collapsee-body-5">#}
{#      Changelog#}
{#      <svg data-accordion-icon class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>#}
{#    </button>#}
{##}
{#    <div id="accordion-collapsee-body-5" class="hidden no-background" aria-labelledby="accordion-collapsee-heading-5">#}
{##}
{#             <p class="custom-font mb-2">18-04-2024    Version 0.15.10</p>#}
{#        <ul class="accordion-content accordion-list-item">#}
{#            <li>iOs / android stable</li>#}
{#            <li>progression complete</li>#}
{#            <li>AI work remains: parser mode, query creation</li>#}
{#        </ul>#}
{##}
{#        <br>#}
{#           <p class="custom-font mb-2">05-04-2024    Version 0.14.x</p>#}
{#        <ul class="accordion-content accordion-list-item">#}
{#            <li>iOs / android setup</li>#}
{#            <li>essential bugfixes</li>#}
{#            <li>fixing and finishing progression</li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const accordions = document.querySelectorAll('[data-accordion="collapsee"]');
        accordions.forEach(accordion => {
            const mainButton = accordion.querySelector('[data-accordion-target]');
            const expandIcon = accordion.querySelector('[data-accordion-icon]');
            const collapseeTarget = document.getElementById(mainButton.getAttribute('aria-controls'));

            mainButton.addEventListener('click', () => {
                const isExpanded = mainButton.getAttribute('aria-expanded') === 'true';
                mainButton.setAttribute('aria-expanded', !isExpanded);
                collapseeTarget.classList.toggle('hidden');

                expandIcon.classList.toggle('rotate-180', !isExpanded);
            });
        });
    });
</script>