<!-- content_faqs.html -->
{#<div class="text-center">#}
<div>

 <p class="custom-font mb-1">What does OnlyWorlds do?</p>
           <ul class="custom-font accordion-content accordion-list-item">
            <li>Offer world building tools, a data structure to build applications and worlds on top of, and ways to ship worlds around</li>
        </ul>

    <br>
     <p class="custom-font mb-1">How do I use this?</p>
            <ul class="custom-font accordion-content accordion-list-item">
            <li>Download the mobile app, create some things, give some feedback, export to website, import to Unity mapper, help develop</li>
        </ul>
  <br>
     <p class="custom-font mb-1">Where's my desktop/web interface?</p>
            <ul class="custom-font accordion-content accordion-list-item">
            <li>High on the priority list, as a mobile app is not ideal for importing / organizing existing data</li>
        </ul>
        <br>

      <p class="custom-font mb-1">Most of my fields are locked on mobile?!</p>
            <ul class="custom-font accordion-content accordion-list-item">
            <li>Attribute groups and fields are unlocked through the Progression system. You can construct a gadget that immediately unlocks everything after completing the first two categories</li>
        </ul>
        <br>
     <p class="custom-font mb-1">Are my worlds future-proof?</p>
            <ul class="custom-font accordion-content accordion-list-item">
            <li>Any world data created before the 1.0 release can not be guaranteed as fully compatible with the framework in the long term</li>
            <li>But worlds and apps are user owned and local, and the developer takes steps to future-proof world data from these early stages</li>
        </ul>

            <br>
     <p class="custom-font mb-1">What's with all the categories and fields and types and subtypes that I totally don't agree with? </p>
            <ul class="custom-font accordion-content accordion-list-item">
            <li>These are all a rough sketch that provide a workable foundation for simulation and game integration </li>
            <li>Many categories, fields and types are recognized by the author as useful, but all of it is open to feedback</li>
        </ul>




</div>
