{% load static %}

<div class="custom-font mb-2">
    {#     <p class="text-sm">18 April 2024</p>#}
    {#     <p class="text-sm">OW version: 0.15.10</p>#}


    <h3 class="custom-font text-custom-xl md:text-2xl lg:text-3xl">Welcome to OnlyWorlds</h3>

    <p class="custom-font mt-4 mb-1">Introducing a world building framework where worlds can be</p>
    <ul class="custom-font accordion-content accordion-list-item">
        <li>Created and edited with any app, tool or website that supports the format</li>
        <li>Easily transferred and managed across them</li>
        <li>Brought to life in games and simulations</li>

    </ul>

<p class="custom-font mt-3">You are invited to try the platform and help shape it going forward!</p>
<br>
{% comment %}    <h3 class="custom-font text-custom-xl md:text-2xl lg:text-3xl">What's Next</h3>{% endcomment %}

    <p class="custom-font mb-2"><b><a href="#" id="link-to-framework"
                                                              class="text-blue-500 hover:underline">OnlyWorlds</a></b>
    is now in closed testing, with an open release planned for December 2024.
        <br>

    </p>
    The three <b><a
            href="#" id="link-to-apps"
            class="text-blue-500 hover:underline">Applications</a></b> currently available serve as prototypes introduce the framework,
    and to get feedback on how current classifications and definitions work for you.
    <br>
    <br>
    <p class="custom-font mb-2">Watch <b><a href="https://www.loom.com/share/529ad9d35ec542f490d0da0db4f2fb70?sid=674f6d3b-a0ce-4264-9af6-a82e65ab0688"
                                                              class="text-blue-500 hover:underline">this video</a></b> for a short introduction.</p>






{% comment %}      <p class="mb-2">Or in the <b> <a href="https://discord.gg/twCjqvVBwb"
           class="inline-block text-m font-bold text-blue-500 hover:underline" target="_blank"
           rel="noopener noreferrer">Discord Server</a></b></p>{% endcomment %}
    <div class="flex flex-row items-center gap-2 mt-2">
          <p class="custom-font mb-1"> Join the Discord server:</p>
            <a href="https://discord.gg/twCjqvVBwb" class="inline-block">
        <img src="{% static 'img/discordlogo.png' %}" alt="Join the Discord" class="mb-1 w-5">
    </a>    </div>

    <div class="flex flex-row items-center gap-2 mt-1">
          <p class="custom-font mb-2">Provide feedback on <a href="https://github.com/OnlyWorlds/OnlyWorlds/discussions" class="text-blue-500 hover:underline">this GitHub discussions page</a>, <a href="mailto:onlyworldsdev@gmail.com" class="text-blue-500 hover:underline">or by email</a>, or in Discord, or in <b> <a href="https://forms.gle/W618BZguPaRDyj6S7"
           class="inline-block font-bold text-blue-500 hover:underline" target="_blank" rel="noopener noreferrer">this form</a></b></p>
    </div>
      <p class="custom-font">Start by enabling the <b>OnlyWorlds Builder</b> community plugin in Obsidian, or by installing the mobile app:</p>
    </div>
{% comment %}    <h3 class="custom-font text-custom-xl md:text-2xl lg:text-3xl">Companion App</h3>{% endcomment %}



        <div class="flex flex-row items-center gap-2 mt-4">
        <a href="https://testflight.apple.com/join/bXvUExCL" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/icon-apple.png' %}" alt="iOS Testflight" style="height: 32px; width: auto;">
        </a>
        <p class="custom-font ml-2">iOs (TestFlight)</p>
    </div>





    <div class="flex flex-row items-center gap-2  mt-5">
       <a href="https://play.google.com/apps/testing/com.onlyworlds.onlyworlds" target="_blank"
       rel="noopener noreferrer">
        <img src="{% static 'img/icon-google.png' %}" alt="Android APK" style="height: 32px; width: 30px;">
    </a>
        <p class="custom-font ml-2">Android (Google Play Closed Testing: join <b><a
            href="https://groups.google.com/g/ow-alpha-test"
            class="text-blue-500 hover:underline">this Google Group</a></b> to access)</p>
    </div>
<div class="flex flex-row items-center gap-2 mt-5">
       <a href="https://drive.google.com/file/d/1-hfXXDDdAM0XqpBRG8wJAnKEPNNKuHGl/view?usp=sharing" target="_blank"
       rel="noopener noreferrer">
        <img src="{% static 'img/icon-google.png' %}" alt="Android APK" style="height: 32px; width: 30px;">
    </a>
        <p class="custom-font ml-2">Android (APK for manual install)</p>
    </div>
 {% comment %}   <h3 class="custom-font text-custom-xl md:text-2xl lg:text-3xl">Explorer</h3>

   <p class="custom-font mt-2 mb-2"><b>  <a href="{% url 'explorer' %}"
               class="inline-block text-m font-bold text-blue-500 hover:underline" target="_blank"
               rel="noopener noreferrer">Web Interface</a></b>
    </p>

   <p class="custom-font mb-3"><b>  <a href="TODO"
               class="inline-block text-m font-bold text-blue-500 hover:underline" target="_blank"
               rel="noopener noreferrer">Desktop</a> </b> (windows)
    </p>
    <div>

        </div>

   <h3 class="custom-font text-custom-xl md:text-2xl lg:text-3xl">Mapper</h3>

 <p class="custom-font mt-2 mb-2"><b> <a href="https://github.com/tmoosting/OnlyWorldsEngine"
               class="inline-block text-m font-bold text-blue-500 hover:underline" target="_blank"
               rel="noopener noreferrer">GitHub</a></b>
    </p>{% endcomment %}
    {% comment %}    <div class="flex flex-row items-center gap-4 mt-4">
        <a href="https://testflight.apple.com/join/bXvUExCL" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/icon-apple.png' %}" alt="iOS Testflight" style="height: 32px; width: auto;">
        </a>
        <a href="https://play.google.com/apps/internaltest/4700705784602434522" target="_blank"
           rel="noopener noreferrer">
            <img src="{% static 'img/icon-google.png' %}" alt="Android APK" style="height: 48px; width: auto;">
        </a>
        <a href="https://discord.gg/twCjqvVBwb" class="inline-block">
            <img src="{% static 'img/discordlogo.png' %}" alt="Join the Discord" class="w-8">
        </a>
    </div>{% endcomment %}

    <div>



    </div>
