{% extends '_base.html' %}
{% load static %}

.nav-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.tab {
    flex: 0 0 auto;
    white-space: nowrap;
}

{% block title %}Logged In Home{% endblock title %}
{% block content %}
    <div class="container mx-auto p-4">
        <div class="min-h-[500px] md:max-w-4xl rounded overflow-hidden shadow-lg my-4 mx-auto bg-slate-800">

            <!-- Tab headers -->
            <div class="border-b-2 border-blue-500 overflow-x-auto">
                <nav class="flex flex-nowrap -mb-px">
                    <button class="tab text-gray-500 py-4 px-6 font-bold hover:text-white focus:outline-none whitespace-nowrap" id="landing-tab" data-target="landing">
                        Home
                    </button>
                    <button class="tab text-gray-500 py-4 px-6 font-bold block hover:text-white focus:outline-none" id="framework-tab" data-target="framework">
                        OnlyWorlds
                    </button>
                    <button class="tab text-gray-500 py-4 px-6 font-bold block hover:text-white focus:outline-none" id="apps-tab" data-target="apps">
                        Applications
                    </button>
                           <button class="tab text-gray-500 py-4 px-6 font-bold block hover:text-white focus:outline-none" id="worlds-tab" data-target="worlds">
                        Worlds
                    </button>
                    <button class="tab text-gray-500 py-4 px-6 font-bold block hover:text-white focus:outline-none" id="profile-tab" data-target="profile">
                        Profile
                    </button>
                               <button class="tab text-gray-500 py-4 px-6 font-bold block hover:text-white focus:outline-none" id="faqs-tab" data-target="faqs">
                        FAQs
                    </button>
                </nav>
            </div>

            <!-- Tab Content -->
            <div class="tab-content text-white p-4" id="landing" style="display: none;">
              {% include 'content_landing.html' %}
            </div>
        <div class="tab-content text-white p-4" id="framework" style="display: none;">
                {% include 'content_framework.html' %}
            </div>
        <div class="tab-content text-white p-4" id="apps" style="display: none;">
                 {% include 'content_apps.html' %}
            </div>
           <div class="tab-content text-white p-4" id="worlds" style="display: none;">
                 {% include 'content_worlds.html' %}
                    </div>
    <div class="tab-content text-white p-4" id="profile" style="display: none;">
                {% include 'content_profile.html' %}
            </div>



                   <div class="tab-content text-white p-4" id="faqs" style="display: none;">
                 {% include 'content_FAQs.html' %}
            </div>
    </div>
  </div>
 <script>
    document.addEventListener('DOMContentLoaded', () => {
    const tabs = document.querySelectorAll('.tab-content');
    const tabButtons = document.querySelectorAll('.tab');

    function hideAllTabs() {
        tabs.forEach(tab => {
            tab.style.display = 'none';
        });
        tabButtons.forEach(button => {
            button.classList.remove('tab-active', 'bg-blue-500', 'text-white');
            button.classList.add('text-gray-500');
        });
    }

    tabButtons.forEach(button => {
        button.addEventListener('click', () => {
            hideAllTabs();
            const target = document.getElementById(button.getAttribute('data-target'));
            button.classList.add('tab-active', 'bg-blue-500', 'text-white');
            target.style.display = 'block';
        });
    });

    const linkToFramework = document.getElementById('link-to-framework');
    if (linkToFramework) {
        linkToFramework.addEventListener('click', (e) => {
            e.preventDefault();
            const frameworkTab = document.getElementById('framework-tab');
            frameworkTab.click();
        });
    }
    const linkToApps = document.getElementById('link-to-apps');
    if (linkToApps) {
        linkToApps.addEventListener('click', (e) => {
            e.preventDefault();
            const appsTab = document.getElementById('apps-tab');
            appsTab.click();
        });
    } const linkToWorlds = document.getElementById('link-to-worlds');
    if (linkToWorlds) {
        linkToWorlds.addEventListener('click', (e) => {
            e.preventDefault();
            const worldsTab = document.getElementById('worlds-tab');
            worldsTab.click();
        });
    }

    const initialActiveTab = document.querySelector('.tab-active') || tabButtons[0];
    if (!initialActiveTab.classList.contains('tab-active')) {
        initialActiveTab.click();
    }
});

</script>
{% endblock content %}

