{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container mx-auto p-4 custom-font">
        <form method="post" action="{% url 'login' %}" class="text-center">
            {% csrf_token %}
             {% crispy form %}
            <div class="text-center my-4">
                <a href="{% url 'account_reset_password' %}"
                   class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                    Forgot Password
                </a>
            </div>
            <!-- Signup Button -->
            <div class="text-center my-4">
                <a href="{% url 'account_signup' %}"
                   class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                    Create Account
                </a>
            </div>
        </form>
    </div>
{% endblock %}
