{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container mx-auto p-4">
        <form method="post"
              class="bg-black shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full sm:w-3/4 md:w-1/2 lg:w-1/3 mx-auto">
            {% csrf_token %}
             <form method="post" action="{% url 'login' %}">
                {% crispy form %}
            <input type="submit" value="Login"
                   class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            <div>
                <a href="{% url 'account_reset_password' %}"
                   class="mb-4 inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                    Forgot Password?
                </a>
            </div>
            <!-- Signup Button -->
            <div>
                <a href="{% url 'account_signup' %}"
                   class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Sign Up Using Keycode
                </a>
            </div>
        </form>
    </div>
{% endblock %}


{#{% extends "_base.html" %}#}
{#{% load crispy_forms_tags %}#}
{#{% load static %}#}

{#{% block content %}#}
{#    <div class="container mx-auto p-4">#}
{#    <form method="post" action="{% url 'login' %}">#}
{#                {% csrf_token %}#}
{#                {% crispy form %}#}
{#            </form>#}
{#    </div>#}
{#{% endblock %}#}
