:root {
    --color-primary: #37C1F0;
    --color-primary-dark: #0a8cbf;
    --color-error: #f56565;
    --color-success: #68d391;
    --color-info: #63b3ed;
    --color-label: #2c9ac0;
    --color-alert: #ffcc00;
    --text-dark: #333333;
    --form-bg: #f7fafc;
}

.custom-font {
    font-family: 'Playfair', sans-serif;
}


.alert-error {
    @apply bg-red-100 text-red-800;
}

.alert-success {
    @apply bg-green-100 text-green-800;
}

.alert-info {
    @apply bg-blue-100 text-blue-800;
}

.alert {
    background-color: #ffcc00; /* Yellow background */
    color: #333333; /* Dark text */
    padding: 16px; /* Padding */
    margin-bottom: 16px; /* Bottom margin */
    border-radius: 8px; /* Rounded corners */
}