{% extends '_base.html' %}
{% load widget_tweaks %}
{% block content %}
    <title>List Locations</title>
    <div class="container mx-auto px-4">
        <h2 class="text-2xl font-semibold my-4">Create New Location</h2>
        <ul>
            {% for location in locations %}
                <li class="text-xl font-semibold text-white my-4"> {{ location.name }} - <a href=
                                                                                           "{% url 'edit_location' id=location.id %}">Edit</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
