{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load bootstrap_icons %}
    {% block subhead %}
    {% endblock %}
    {#    <link rel="stylesheet" href="{% static '/css/main.css' %}">#}

    {# Tailwind #}
<script src="https://cdn.tailwindcss.com"></script>

    <title>{% block title %}Doodle{% endblock %}</title>
<link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo.jpg' %}" alt="logo" width="40"
                 height="30"
                 class="d-inline-block align-text-top">
           onlyWorld
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/maps/map/">Map</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/blog/">Blog Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>

            </ul>
        </div>


        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="nav">
                <li class="nav-item text-center">
                    {% block cart %}
                    {% endblock %}
                </li>
            </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="nav">
                    <li class="nav-item">
                        <p class="nav-link text-success">Welcome - {{ user.first_name }}</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="accounts/logout">Logout</a>
                    </li>

                </ul>
            </div>
        {% else %}
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="accounts/login">Login</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="accounts/signup">Register</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </nav>
</div>
<main class="flex-grow-1">
    {% block content %}
    {% endblock %}
</main>

<!-- ************* Footer **************-->
{% block footer %}
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Copyright © Morgan
        </div>
    </div>
{% endblock %}
<!-- Footer -->
</body>
</html>


